<h1><%= @user.store_name %></h1>

<section class="table">
  <%= image_tag ("#{@user.store_banner_img}") %>
  <%= image_tag ("#{@user.profile_picture}") %>
  <ul>
    <li>
      <%= @user.store_description %>
    </li>
    <li>
      <%= @user.store_location %> | <%= display_users_join_date(@user.created_at) %>
    </li>
    <li>
      Average rating: <%= get_merchant_average_rating(@user) %>
    </li>
    <li>
      <%= display_edit_pop_up_button?(@user) %>
    </li>
    <li>
      <%= display_add_new_product?(@user) %>
    </li>
  </ul>
</section>
<% if @user.products.count > 0 %>
<h2><small>fetch by</small> <%= @user.store_name.downcase %>.</h2>
<section class="table">
  <ul>
    <% @user.products.each do |product| %>
    <a href="<%= product_path(product) %>">
      <li>
        <%= image_tag ("#{product.image}") %>
      </li>
      <li>
        <h6><%=  "#{product.name}" %></h6>
      </li>
      <li>
        <%=  "#{product.category}" %>
      </li>
      <li>
        <%= display_quantity_or_sell_out(product) %>
      </li>
      <li>
        <%=  "#{product.price}" %>
      </li>
        <%= display_edit_product_button?(product) %>
      </li>
      <li>
        <%= display_delete_product_button?(product) %>
      </li>
  </a>
  <% end %>
</ul>
</section>
<% end %>
