<h1><%= @user.username %></h1>
<section class="table">
  <%= image_tag (@user.profile_picture) %>
  <ul>
    <li>
      <%= @user.bio %>
    </li>
    <li>
      <%= display_users_join_date(@user.created_at) %>
    </li>
    <li>
      <%= display_edit_button?(@user) %>
    </li>
    <li>
      <%= display_sign_up_button?(@user) %>
    </li>
  </ul>
</section>
