<h1>List of Users</h1>
<%= link_to "Become a user", new_user_path %>

<% @users.each do |user| %>
<a href="<%= user_path(user) %>">
  <ul>
    <li>
      <%=  "#{user.name}" %>
    </li>
    <li>
      <%=  "#{user.username}" %>
    </li>
    <li>
      <%=  "#{user.email} " %>
    </li>
    <li>
      <%=  "#{user.products}" %>
    </li>
  </ul>
</a>
<% end %>
