<h1>Dassshboard</h1>

<section class="user-info-card">
  <img src="" class="user-pic" />
  <section class="user-info">
    <ul class="user-info-list">
      <li>user name: <%= @user.username %></li>
      <li>name: <%= @user.name %></li>
      <li>email: <%= @user.email %></li>
      <li>user since: <%= @user.created_at.strftime("%Y AD / %b  %-d, %H:%M:%S.%L") %></li>
    </ul>
    <p>(edit info)</p>
  </section>
</section>

<section class="listings-card">
  <section class="listings-amount">
    <p><%= @user.products.length %></p>
    <p>listings</p>
    <p>(add item)</p>
  </section>
</section>

<section class="orders-card">
  <section class="orders-amount">
    <p><%= @user.merchant_orders.length %></p>
    <p>pending orders</p>
    <p>(manage orders)</p>
  </section>
</section>

<section class="inventory">
  <% @user.products.each do |product| %>
  <ul class="inventory-entry">
    <li><%= product.name %></li>
    <li>qty: <%= product.quantity %></li>
    <li><%= link_to "(edit)", edit_product_path(product) %></li>
    <li><%= link_to "(del)", product_path(product), method: :delete %></li>
  </ul>
  <% end %>
</section>

<section class="shop-settings">
  <div class="shop-settings-header">
    <h2>Shop Settings</h2>
  </div>
  <div class="shop-settings-form">
    
  </div>
</section>

<% @orders.each do |order| %>
<%= order %>
<% end %>
<% @products.each do |product| %>
<%= product %>
<% end %>
