<% if @order.status == "pending" %>
  <h1>My Bag</h1>
<% else %>
  <h1>Order #<%= @order.id %></h1>
<% end %>

<ul>
  <h2>Order Info</h2>
  <li>
    name:
    <% user = User.find_by(id: session[:user_id]) %>
    <% if user %>
      <%= user.name %>
    <% else %>
      <span>Guest</span>
    <% end %>
  </li>
  <li>
    email:
    <% if user %>
      <%= user.name %>
    <% else %>
      <span>Guest</span>
    <% end %>
  </li>
  <li>
    shipping address:
    <%= @order.shipping_address %>
  </li>
  <li>
    cc:
    <%= @order.card_number.to_s[-4..-1] %>
  </li>
  <li>
    cc exp:
    <%= @order.card_expiration %>
  </li>
</ul>

<ul>
  <h2>Items</h2>
  <% @order.cart_entries.each do |entry| %>
  <li>
    <%= Product.find_by(id: entry.product_id).name %>
  </li>
  <li>
    <% if @order.status == "pending" %>
      <%= form_with model: entry, :method => "patch", :url =>  cart_entry_path(id: entry.id, product_id:  entry.product.id)   do |f| %>
      <%= f.label :qty %>
      <%= f.select :quantity, [*1..entry.product.quantity], {}, { value: entry.quantity, onchange: 'this.form.submit();' } %>
      <% end %>
    <% else %>
      qty: <%= entry.quantity %>
    <% end %>
  </li>
  <li>
    $<%= ("%.2f" % (Product.find_by(id: entry.product_id).price * entry.quantity)) %>
  </li>
  <li>
    <%= entry.status %>
  </li>
  <% if @order.status == "pending" %>
  <li>
      <%= button_to "Delete", cart_entry_path(entry.id), method: :delete, data: { confirm: "Delete #{entry.product.name}?" } %>
  </li>
  <% end %>
  <% end %>
</ul>

<% if @order.status == "pending" %>
  <%= link_to "chekout!", order_checkout_path(@order) %>
<% end %>
