<h1>List of Products</h1>

<%= link_to "Add new product", new_product_path %>

<% @products.each do |product| %>
<a href="<%= product_path(product) %>">
  <ul>
    <li>
      <%=  "#{product.name}" %>
    </li>
    <li>
      <%=  "#{product.category}" %>
    </li>
    <li>
      <%=  "#{product.quantity} " %>
    </li>
    <li>
      <%=  "#{product.price}" %>
    </li>
  </ul>
</a>
<% end %>
