<h1 class="products-heading"><%= @title %></h1>

<section class="products-container">
  <% @products.each do |product| %>
  <a href="<%= product_path(product) %>" class="product-card-link">
    <ul class="product-card <%= product.category %>">
      <div class="upper-product-info">
        <li class="product-image">
          <%= image_tag product.image, alt: "a pic of some awful capitalist bullshit", class: "product-image #{product.category}-image" %>

        </li>
        <li>
          <h6 class="product-title <%= product.category %>-title"><%= product.name %></h6>
        </li>
      </div>
      <div class="lower-product-info">
        <li class="product-info">
          <%= display_quantity_or_sell_out(product) %>
        </li>
        <li class="product-info">
          $ <%= ("%.2f" % product.price) %>
        </li class="product-info">
        <%= show_product_reviews?(product) %>
      </div>
    </ul>
  </a>
  <% end %>
</section>
