<h1><%= @title %></h1>

<%= link_to "Add new product", new_product_path %>
<% @products.each do |product| %>
<a href="<%= product_path(product) %>">
  <ul>
    <li>
      <%=  "#{product.name}" %>
    </li>
    <li>
      <%=  "#{product.category}" %>
    </li>
    <li>
      <%= display_quantity_or_sell_out(product) %>
    </li>
    <li>
      <%=  "#{product.price}" %>
    </li>
  </ul>
</a>
<% end %>
