<h1><%= @title %></h1>

<% @products.each do |product| %>
<a href="<%= product_path(product) %>">
  <ul>
    <li>
      <%= image_tag ("#{product.image}") %>
    </li>
    <li>
      <h6><%=  "#{product.name}" %></h6>
    </li>
    <li>
      <%=  "#{product.category}" %>
    </li>
    <li>
      <%= display_quantity_or_sell_out(product) %>
    </li>
    <li>
      <%=  "#{product.price}" %>
    </li>
    <%= show_product_reviews?(product) %>
  </ul>
</a>
<% end %>
