<h1><%= @product.name.capitalize %></h1>

<section class="table">
<ul>
  <li>
    <%= @product.category %>
  </li>
  <li>
    Stock: <%= display_quantity_or_sell_out(@product) %>
  </li>
  <li>
    Price: <%= @product.price %>
  </li>
  <li>
    Swag Rating: <%= get_product_average_rating(@product) %>
  </li>
  <li>
    <%= image_tag ("#{@product.image}") %>
  <li>
    <%= display_edit_product_button?(@product) %>
  </li>
  <li>
    <%= display_delete_product_button?(@product)  %>
  </li>
</ul>
</section>

<%= display_add_to_cart_or_sold_out(@product) %>

<%= link_to "back to the previous spread", request.referer.present? ? request.referer : root_path %>

<section>
  <h5>leave thoughts && prayers for this item</h5>
  <%= form_with model: @review, :url => { :action => :review, :method => :post } do |f| %>
    <div>
    <%= f.label :rating %> <%= "\u{1F60D}:" %>
    <%= f.select :rating, [*1..5] %>
  </div>
  <div>
    <%= f.label :thoughts_and_prayers %>:
    <div>
      <%= f.text_area :comment %>
    </div>
  </div>
    <%= f.submit "make it happen" %>
  <% end %>
</section>


<section>
<h1>thoughts && prayers</h1>

<% @product.reviews.each do |review| %>

<ul>
  <li>
    member: <%= review.user.username %>
  </li>
  <li>
    rating: <%= convert_review_rating_to_smileys(review.rating) %>
  </li>
  <li>
    thought && prayer: <%= review.comment %>
  </li>
</ul>
<% end %>
</section>
