<h1><%= @product.name.capitalize %></h1>

<section class="table">
<ul>
  <li>
    <%= @product.name %>
  </li>
  <li>
    <%= @product.category %>
  </li>
  <li>
    <%= display_quantity_or_sell_out(@product) %>
  </li>
  <li>
    <%= @product.price %>
  </li>
  <li>
    <%= image_tag ("#{@product.image}") %>
  <li>
    <%= display_edit_product_button?(@product) %>
  </li>
  <li>
    <%= display_delete_product_button?(@product)  %>
  </li>
</ul>
</section>

<%= display_add_to_cart_or_sold_out(@product) %>

<%= link_to "Back to Product List", products_path %>
<section>
  <%= form_with model: @review, :url => { :action => :review, :method => :post } do |f| %>
    <%= f.label :rating %>
    <%= f.select :rating, [*1..5] %>

    <%= f.label :comment %>
    <%= f.text_area :comment %>

    <%= f.submit "Submit" %>
  <% end %>
</section>


<section>
<h1>Reviews</h1>

<% @product.reviews.each do |review| %>

<ul>
  <li>
    Review title: <%= review.rating %>
  </li>
  <li>
    Username: <%= review.user_id %>
  </li>
  <li>
    Comments: <%= review.comment %>
  </li>
</ul>
<% end %>
</section>
