<!DOCTYPE html>
<html>
<head>
  <title>Fetch.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1><%= link_to "Fetch.", root_path %><small>We're making it happen.</small></h1>
    <nav>
      <ul>
        <li><%= link_to "the spread", products_path %></li>
        <li><%= link_to "pop-ups" %></li>
        <li><%= link_to "the message", "/pages/themessage" %></li>
      </ul>
      <ul>
        <% if session[:user_id] %>
          <li><%= link_to "logged in as #{@logged_in_user.name}", user_path(@logged_in_user.id) %></li>
          <li><%= link_to "logout", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "login", "/auth/github" %></li>
        <% end %>
      </ul>
      <ul>
        <li><%= link_to "plants", products_path(:category =>"Plants") %></li>
        <li><%= link_to "housewares", products_path(:category =>"Housewares") %></li>
        <li><%= link_to "fashion", products_path(:category =>"Fashion") %></li>
        <li><%= link_to "beauty", products_path(:category =>"Beauty") %></li>
        <li><%= link_to "lifestyle", products_path(:category =>"Lifestyle") %></li>
      </ul>
    </nav>
  </header>
  <section>
    <% if !flash.empty? %>
      <% flash.each do |key, message| %>
      <div >
        <span><%= message %></span>
      </div>
      <% end %>
    <% end %>
  </section>
  <main>
    <%= yield %>
  </main>
</body>
</html>
