<!DOCTYPE html>
<html>
<head>
  <title>Fetch.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="body-container">
    <header>
      <div class="bag-container">
        <% if @order.cart_entries.length >= 1 %>
          <%= link_to "my bag (#{@order.cart_entries.length})", order_path(@order), class: "my-bag" %>
        <% end %>
      </div>
      <div class="header-container">
        <div class="logo-container">
          <%= link_to image_tag("logo.png", alt: "Fetch logo. Slanted blue text with chunky black outline and pink wavy accents.", class: "logo"), root_path %>
          <%= link_to image_tag("logo2.png", alt: "Fetch logo, but bolder. Slanted blue text with chunky black outline and pink wavy accents.", class: "logo-top"), root_path %>
          <span class="tagline"><%= link_to "We're making it happen", root_path %></span>
        </div>
        <nav class="header-nav">
          <ul class="header-nav-links">
            <li><%= link_to "the spread", products_path %></li>
            <li><%= link_to "pop-ups" %></li>
            <li><%= link_to "the message", "/pages/themessage" %></li>
          </ul>
          <ul class="login">
            <% if session[:user_id] %>
            <li class="login-button"><%= link_to "logged in as #{@logged_in_user.username}", user_path(@logged_in_user.id) %></li>
            <li class="login-button"><%= link_to "logout", logout_path, method: "delete" %></li>
            <% else %>
            <li class="login-button"><%= link_to "login", "/auth/github" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      <nav class="categories-nav">
        <ul class="categories">
          <li class="cat1"><%= link_to "plants", products_path(:category =>"Plants") %></li>
          <li class="cat2"><%= link_to "paraphernalia", products_path(:category =>"Housewares") %></li>
          <li class="cat3"><%= link_to "fashion", products_path(:category =>"Fashion") %></li>
          <li class="cat4"><%= link_to "beauty", products_path(:category =>"Beauty") %></li>
          <li class="cat5"><%= link_to "lifestyle", products_path(:category =>"Lifestyle") %></li>
        </ul>
      </nav>
    </header>
    <section>
      <% if !flash.empty? %>
      <% flash.each do |key, message| %>
      <div >
        <span><%= message %></span>
      </div>
      <% end %>
      <% end %>
    </section>
    <main>
      <%= yield %>
    </main>
    <footer>
      <iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
      <audio controls class="audio-player">
      <source src="audio/pinkandblue.mp3" type="audio/mpeg" />
      </audio>
    </footer>
  </div>
</body>
</html>
